=hidden_field_tag "product_latitude", @product.latitude
=hidden_field_tag "product_longitude", @product.longitude
=hidden_field_tag "product_zoom", @product.zoom_level
=hidden_field_tag "product_address", @product.street_address

