-# .addthis_toolbox.addthis_default_style.addthis_32x32_style
-# %a.addthis_button_preferred_1
-# %a.addthis_button_preferred_2
-# %a.addthis_button_preferred_3
-# %a.addthis_button_preferred_4
-# %a.addthis_button_compact
-# %a.addthis_counter.addthis_bubble_style
-# %script
-#   var addthis_config = {"data_track_addressbar":true};
-# %script{:src => "http://s7.addthis.com/js/300/addthis_widget.js#pubid=ra-4da634b15dc6c886", :type => "text/javascript"}
