%h1 About Us

%p We like to travel in style. At the same time, we like our booking experience to be stress-free, without burning a hole in our pocket. 
%p Which is why at 52 Rooms, we strive to create this sort of quality experience for our members-- the best deals on the world’s greatest vacations, hassle-free. 52 Rooms is a members-only luxury travel community, offering specially discounted rates for hand-picked holidays around the world, exclusively targeted at the discerning Indian traveller. 
%p Whether you’re looking for a conveniently located business hotel, a romantic beachside cottage for you and your partner, or a full-blown party getaway with your buddies- our insider knowledge and easy interface is all you’ll need to book the ideal holiday. 
%p Choose from our exclusive flash sales or specially curated luxury hotel deals. Book an exotic holiday package, or simply look for amazing vacation ideas on our website. We’ve even thrown in some premium offers on F&B and flights as an added bonus. So go ahead, let us inspire you to travel. 
%br

%h2 Why Us?  
%br
%p We’re not just about hotel listings and discounts-- all our offerings are hand-picked to cater especially to you- the affluent, exacting Indian traveller. 
%p We only feature a limited number of star hotels and properties that fit the standards of our elite members
%p All our holiday offers are specially curated to offer comfort and style every step of the way
%p We’re constantly enhancing your travel experience with added perks: a massage at the spa, a complimentary bottle of bubbly, a transfer in a limo...
%p Our insider tips tell you exactly what you want to know: Is the wifi at your business hotel chargeable? Is there a fitness centre and a sauna at your hotel? How far is the ocean from your doorstep?
%p We offer both flash sales for those last minute travel desires as well as inspirational holiday ideas for those of you who like to plan long-term. 

%h2 Who  We Are
%br
%p
  %strong
    Vikas Lakhani
  \: Vikas most recently was a Vice President in the Investment Banking division of Copal Partners (a Moody’s Group company). At Copal, Vikas was responsible for managing key client relationships and leading the operations team of over 200 people. Prior to this, Vikas worked at Credit Suisse, London in their Energy banking practice focusing on Utilities and Renewable Energy Sources. Vikas has a Masters in Finance from HEC, Paris.
%br
%p
  %strong Zuben Mathews
  \: In his last role, Zuben headed the Strategic Partnership Group at Deutsche Bank’s Investment Banking division. At Deutsche, Zuben was responsible for originating Investment Banking deals as well as making investments with Technology companies and has worked on deals worth over $15bn. Prior to his tenure at Deutsche Bank, Zuben started India’s first city specific portal – MetroIndia at the age of 19.  Zuben has a degree in Economics from the University of Chicago.